<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Show Entertainment</title>
<link href="css/styles.css" rel="stylesheet">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/layout.css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="javascript/app.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="HttpCtrl as app">
	<div class="container-fluid containerMain">

		<div class="row first-row">
			<div class="col-sm-2 first">
				<a href="#"> <img class="adamaLogo"
					src="image/adamamainlogo.png" /></a>
			</div>
			<div class="col-sm-6 second">
				<div class="input-group searchEntertainment">
					<input type="Search" placeholder="Search..." class="form-control " />
					<div class="input-group-btn">
						<button class="btn btn-info">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-2 first">
				<button class="btn btn-info adamaLogo">
					<span class="glyphicon glyphicon-upload">Upload</span>
				</button>
			</div>
		</div>
		<div class="row second-row">
			<div class="col-sm-1 first"></div>
			<div class="col-sm-6 second">
				<div class="innerDivSecond well">
					<iframe src="iframurl" class="iframeSource" name="someFrame"
						id="someFrame"> </iframe>
					<div class="movietitle">
						<input class="form-control" type="hidden"
							ng-model="i.entertainmentTitle">
						<p id="page_title">
							<b> {{movieTitle}} </b><br /> {{count}}
						<p id="movietitle">{{iframurl}}</p>
						<hr>
					</div>
				</div>
				<div class="comment-renderer-content" ng-repeat="a in comments">
					<div class="comment-renderer-header">
						<table>
							<tr>
								<td class="td-first"><a href="#"> <img
										class="adamaLogo" src="image/default-comment-image.png" /></a></td>
								<td class="td-second"><span style="color: blue">
										{{a.userName}} </span>{{a.date | date:'MMM d, y h:mm a'}}<br />
									<p>{{a.comment}}</p></td>
							</tr>
						</table>

					</div>
				</div>
				<form ng-submit="submitComment()" id="commentsForm"
					name="commentsForm">
					<fieldset>
						<legend>Post a comment</legend>
						<div class="alert alert-danger" ng-show="c.alert">There was
							an error posting your comment, please try again later</div>
						<div class="form-group name-group">
							<div class="control-field">
								<label for="userName" class="control-label">UserName</label> <input
									class="form-control" id="userName" type="text" value=""
									tabindex="1" ng-model="c.userName">
							</div>
						</div>
						<div class="form-group email-group">
							<label for="email" class="control-label">Email</label>
							<div class="control-field">
								<input class="form-control" id="email" type="email" value=""
									tabindex="2" ng-model="c.email">
							</div>
						</div>
						<div class="form-group comment-group">
							<label for="comment" class="control-label">Comment</label>
							<div class="control-field">
								<textarea class="form-control" cols="30" rows="5"
									id="comment-textarea" tabindex="3" ng-model="c.comment"
									required></textarea>
							</div>
						</div>
						<div class="form-group button-group">
							<div class="control-field">
								<button type="submit" class="btn btn-primary btn-comment"
									tabindex="4">Post comment</button>
								<a href="" class="btn btn-danger btn-post-comment">Cancel</a>
							</div>
						</div>
						<input class="form-control" type="hidden"
							ng-model="c.entertainmentTitle">
					</fieldset>
				</form>
			</div>

			<div class="col-sm-4 third">
				<div class="innerDivThird well" ng-repeat="v in videos">
					<table>
						<tr ng-click="changeUrlForVideo(v.url, v.title, v.count)">
							<td class="rightVideoImages"><a href="#"> <img
									class="adamaLogo" src="{{ v.image}}" /></a></td>
							<td class="rightVideoDescription"><span class="video-title">{{v.title}}</span>
								<span class="accessibel_description">
									{{v.artistFirstName}}</span> <br /> <span class="status_view_count">{{v.count}}
									views</span></td>
						</tr>
					</table>

				</div>
			</div>
			<div class="col-sm-1 fourth"></div>
		</div>
	</div>
</body>
</html>
